* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;	
	line-height: 1;	
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
textarea,
button {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button ::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

:root {
  --color-body: #FFEFD5;
  --color-slider: #FFB6C1;
  --color-white: #eee;
  --color-black: #000;
 }

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: inherit;
}

body {
  height: 100%;  
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem; 
  background-color:  var(--color-body);
  color: var(--color-black);
 
}

.wrapper {
    max-height: 100vh;
    width: calc(100% - 5vw);
    margin: 0 auto;
    padding: 2rem 0;
    background-color: var(--color-slider);
}


.slider {     
    
}
.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex: 1;
    width: 100%; */
    
}
.slide__one {
}
.slide__image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 0 1 400px;     */
    margin-bottom: 1rem;
}
.slide__img {
    /* height: 80%; */
	width: 100%;
	object-fit: contain;
    border-radius: 2%;
    z-index: 1;  
    /* height: 300px;   */

}
.slide__description {
    flex: 1;
}
.slide__text {
}
.slide__pagination {
}
.pagination__item {
}
.pagination__link {
}
.pagination__img {
}
.slide__two {
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}
.slide__three {
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}
.slide__four {
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}
